<div class="conteiner">
    <div class="contents_row">
        <% @topics.each do |topics|%>
            <div class="row">
                <p><%= topics.title %></p>
                <p><%= topics.detail %></p>
                <p><%= topics.user.nickname %></p>
                <% if user_signed_in? %>
                    <%= link_to '参加する',"/topic/#{topics.id}", method: :get %>
                <% end %>    
            </div>
        <% end %>
    </div>
</div>    