<div class="conteiner">
    <div class="contents_row">
        <% @topics.each do |topics|%>
            <div class="row">
                <p><%= topics.title %></p>
                <p><%= topics.detail %></p>
                <p><%= topics.user.nickname %></p>
                <%= link_to '参加する',"/topic/#{topics.id}", method: :get %>
            </div>
        <% end %>
    </div>
</div>    