<div class="row">
  <h3>
    Your awesome topics.
  </h3>
  
  <%= form_tag('/topics',method: :post) do %>
      <textarea name="title" placeholder="タイトル"></textarea>
      <textarea name="detail" placeholder="詳細"></textarea>
      <input type='submit' value='SENT'></input>
  <% end %>
</div>