<div class="row">
  <h3>
    気になる話題
  </h3>
  
  <%= form_tag('/topic',method: :post) do %>
      <textarea name="title" placeholder="タイトル"></textarea>
      <textarea name="detail" placeholder="詳細"></textarea>
      <input class="btn btn-primary withripple" type='submit' value='SENT'></input>
  <% end %>
</div>